{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
    <div class="my-4">
        <section id="home">
            <div class="row gy-3">
                <div class="latest-posts">
                    <h1 class="text-5xl">Latest Posts</h1>
                    {% for post in posts %}
                        <div class="posts">
                            <div class="row gy-3 m-0">
                                <div class="card">
                                    <h2 class="card-title">{{ post.title | title }}</h2>
                                    <h4 class="card-subtitle">{{ post.subtitle }}</h4>
                                    <div class="post-body card-body">
                                        <p>{{ post.body | safe | truncatewords:25 |truncatechars:100 }}</p><a
                                            href="{% url 'blog:post' post.id %}">Read More</a>
                                    </div>
                                    <div class="text-white pb-1">
                                        <small>By: <a
                                                href="{% url 'blog:profile' id=post.author.id username=post.author %}"
                                                class="username">{{ post.author }}</a> on {{ post.posted_at }}</small>
                                    </div>
                                    {% if request.user.is_staff %}
                                        <div class="card-footer ps-0">
                                            <a class="btn btn-primary "
                                               href="{% url 'blog:edit-post' post.id %}">Edit</a>
                                            <a href="{% url 'blog:delete-post' post.id %}">❌</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row gy-3">
                    <div class="pagination-btn">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small Item pagination">
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-primary" href="?page=1">&laquo; First</a>
                                <a class="btn btn-outline-primary"
                                   href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for page_number in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_number %}
                                    <button class="btn btn-outline-primary active">
                                        <span>{{ page_number }} <span class="sr-only"></span></span>
                                    </button>
                                {% else %}
                                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                                        {{ page_number }}
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">&raquo;
                                    Next</a>
                                <a class="btn btn-outline-primary"
                                   href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if request.user.is_staff %}
                        <div class="new-post">
                            <a href="{% url 'blog:create-post' %}">
                                <button class="btn btn-primary">New Post</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

{% endblock body %}