{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

    {% block body %}
       <h1>Home</h1>
        {% for post in posts %}
            <p>{{ post.author }}</p>
            <p>{{ post.title | safe }} <a href="{% url 'blog:edit-post' post.id %}">Edit</a><a href="{% url 'blog:delete-post' post.id %}">❌</a></p>
            <p>{{ post.subtitle }}</p>
            <p>{{ post.body | safe }}</p>
        {% endfor %}
        <h1>Create Post</h1>
        <a href="{% url 'blog:create-post' %}">New Post</a>

    {% endblock body %}