{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="row g-3 text-center">
        <h1>Login</h1>
        <div class="login d-flex justify-content-center">
            <form method="post">
                <div class="row g-3 m-0 text-center">
                    {% csrf_token %}
                    <div>
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <small class="text-white">Don't have an account? Don't worry you can <br>still read without it, or you can
            register here <br><a href="{% url 'blog:register' %}">Register</a></small>
    </div>

{% endblock body %}