{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="row gy-3 text-center">
        <div class="errorlist">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h1>Login</h1>
        <div class="login d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <div class="text-white text-center">
                    <div class="">
                        {{ form.username | as_crispy_field }}
                    </div>
                    <div class="">
                        {{ form.password | as_crispy_field }}
                    </div>
                    <div class="">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <small class="text-white">Don't have an account? Don't worry you can <br>still read without it, or you can
            register here <br><a href="{% url 'blog:register' %}">Register</a></small>
    </div>

{% endblock body %}