{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block body %}
    <div class="row gy-3 text-center">
        <h1>Register</h1>
        <div class="errorlist">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="register d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    <div class="">
                        {{ form.username | as_crispy_field }}
                    </div>
                    <div class="">
                        {{ form.first_name | as_crispy_field }}
                    </div>
                    <div class="">
                        {{ form.last_name | as_crispy_field }}
                    </div>
                    <div class="">
                        {{ form.password1 | as_crispy_field }}
                    </div>
                    <div class="">
                        {{ form.password2 | as_crispy_field }}
                    </div>
                    <div class="">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <small class="text-white">Have an account? Why not login. <br><a href="{% url 'blog:login' %}">Login</a></small>
    </div>

{% endblock body %}

